.main-logo {
  height: 50px;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}

.space {
  flex: 1;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
