body {
  height: 100vh;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-and-description {
  padding: 120px 0 0 0;
}

.home-main-logo {
  height: 100px;
}

.main-logo {
  height: 55px;
  padding: 0;
}

.new-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
}

.space {
  flex: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
}

.create-New-Icon {
  height: 30px;
  padding: 0 20px 0 0;
}

.filter-Icon {
  height: 30px;
  padding: 0 20px 0 0;
}

.all-events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.all-events-container a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
}

.border {
  padding: 30px;
}

.each-event {
  border: solid 1px black;
  height: 270px;
  width: 270px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;  
}

.each-event-details {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.each-event-details p, a {
  padding: 0 10px;
  font-size: 20px;
}
.shopping-list-icon {
  height: 30px;
}

.title {
  font-size: 30px;
  text-align: center;
}

.title-date {
  font-size: 20px;
  text-align: center;
}

/* LoginScreen */

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.sl-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 0 0;
}

.sl a {
  padding: 0 40px ;
}

.sl button {
  height: 40px;
  width: 130px;
}

.form-group {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.form-group input{
  height: 40px;
  width: 290px;
  padding: 0 0 0 15px;
}

label {
  padding: 0 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
