body {
  height: 100vh;
}.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-and-description {
  padding: 120px 0 0 0;
}

.home-main-logo {
  height: 100px;
}
.main-logo {
  height: 50px;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}

.space {
  flex: 1;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
